header{
      flex-direction:row;
      justify-content : space-between;
      align-items:center;

    img {
          display: block;
        }
    nav {
          display : flex;
          flex:1;
        ul{
          display:flex;
          flex:1;
          flex-direction: row;
          justify-content : space-around;
          li {

            a{

              }
             a:hover{
             } 
            } // fin li
          } // fin ul
        } // fin nav
    } // fin header  

    main{

    section{
        width : 900px;
        flex-direction : row;
        flex-wrap : nowrap;
        justify-content : center;
       
      article{


        font-size: 200%;
        width: 20%;
        flex: 1 1 10vh;
      }

    }
}


    footer div:nth-child(3) {
      font-size: 3em;
}